svg(xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 42 42")
  defs
    clipPath(id="circular-clip")
      circle(cx="21" cy="21" r="15.91549430918954")
  g(clip-path="url(#circular-clip)")
    each segment in segments
      circle(id="pie-segment"
      cx="21"
      cy="21"
      r="15.91549430918954"
      fill="transparent"
      stroke=segment.color
      stroke-width="32"
      stroke-dasharray=`${segment.percent} ${100 - segment.percent}`
      stroke-dashoffset=segment.offset)